# Byte-compiled and cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
.env

# Logs and databases
*.log
instance/
*.sqlite3
*.db

# Environment variables
.env
*.env

# Pytest and coverage reports
.coverage
htmlcov/
*.cover
.cache

# IDE and editor files
.vscode/
.idea/
*.swp
*.swo
